<footer>
  <h4 class="sitename">
    <a href="/"><%= t 'sitename' %></a>
  </h4>
  
  <div id="copyright">
    <p><%= t 'copyright' %></p>
  </div>
</footer>

<div id="page-top"><a href="#container"><%= t 'pages.common.sidebar.to_top' %></a></div>

