/* Application styles */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

/*-----------------------------
RESET
------------------------------*/
ul, ol {margin: 0; padding: 0; list-style: none;}

/*-----------------------------
BASE
------------------------------*/
body {margin:0;border:none;padding:0;font-family: "ヒラギノ角ゴ Pro W3", "Hiragino KaKu Gothic Pro", "ＭＳ Ｐゴシック", "MS P Gothic", Osaka, sans-serif;background:url("/assets/images/bodybg.jpg") repeat-x #ffffff;line-height:1.6em;}

#container {width: 1020px; margin:0 auto; padding-bottom:20px;word-wrap: break-word;}
header {width:1020px; margin:0px auto; height: 124px; position:relative;background: #000000 url("/assets/images/headerbg.jpg") repeat-x;}

nav#global-nav_en, nav#global-nav_ja {width: 1020px; margin:0 auto 16px auto; border:#ffffff solid 2px;word-wrap: break-word;}

/*------------header */ 
header #logo {position:absolute;top:50px;left:30px;}
header #logo a {color:#ffffff;font-size:42px;font-weight:bolod;}
header #logo a:hover {color:#ffffff;text-decoration:none;}
header #sitename {position: absolute;top:56px;right:50px;width:258px;z-index: 15;}

/*------------gloval navigatior */ 
#global-nav_en, #global-nav_ja {margin:0 -10px;}
#global-nav_en { background-color: #195da4; }
#global-nav_ja { background-color: #b90101; }
#global-nav_en .nav li.active a {color:#ffff00;}
#global-nav_ja .nav li.active a {color:#ffff00;}
#global-nav_en .nav li a, #global-nav_ja .nav li a  {color:#ffffff;}
#global-nav_en .nav li a:hover, #global-nav_ja .nav li a:hover {color:#cccccc;}

/*------------sidebar */ 
#sidebar h3.sidemenu{font-size:16px; font-weight:bold; color:#333333;}
#sidebar ul li ul {margin:0 0 1em 0;}
#sidebar ul li ul li{margin-left:1.6em;list-style:url("/assets/images/lib/list/li_ball_red.gif") disc;}
#sidebar ul li ul li a{color:#000000;}

/*------------footer */ 
footer {background:#000000;}
footer .content{width:960px;margin:0 auto;padding-top:16px;color:#333333;}
footer h4.sitename{padding-top:16px;text-align:center;font-size:1em;}
footer h4.sitename a{color:#ffffff;}

/*-------------copyright*/
#copyright{ width:100%; display:inline-block; text-align:center; padding:8px 0px;color:#ffffff;}

/*-----------------------------
Page TOP
------------------------------*/
#page-top { position: fixed; bottom: 40px; right: 20px; font-size: 10px; }
#page-top a { background: #665e53; text-decoration: none; color: #ffffff; width: 100px; padding: 10px 5px; text-align: center; display: block; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
#page-top a:hover { text-decoration: none; background: #d6cdc0; color: #665e53; }

.p-navi {padding-top:20px;}
.p-navi dl dt {text-align:right;}
.p-navi dl dd {text-align:left;}

.bg-primary, .bg-success, .bg-info, .bg-warning, bg-danger{padding:4px;}

.article {margin:0 0 1em 0;padding:0;}
.article-thumbnail {padding:0;}
.article-content {padding:0;}


#lang-menu {margin-bottom:10px;}
#lang-menu li span {margin:0 4px 2px 4px;}
#lang-menu li img {border:1px solid #999999;}

h3.sidemenu_en, h3.sidemenu_ja {padding:4px 10px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;font-size:1.4em;color:#000000;}
h3.sidemenu_en {background-color: #d9edf7;}
h3.sidemenu_ja {background-color: #ffdfdf;}

ul.sidelist_en, ul.sidelist_ja {margin:0 0 1em 0;}
ul.sidelist_en li {margin-left:1.6em;list-style:url("/assets/images/lib/list/li_ball_bl.gif") disc;}
ul.sidelist_ja li {margin-left:1.6em;list-style:url("/assets/images/lib/list/li_ball_red.gif") disc;}

